<div style="background-color:#bf283c;">
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
    </p>
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
    <h1 style="color:White;font-family:'Arial';font-size:30px"><center>Advanced Regression - House Price Prediction</center></h1>
    </p>
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
    <p style="text-align:left;font-family:'Courier New';color:FloralWhite;font-size:16px"> | PGP in Machine Learning and AI, IIITB |
        <span style="float:center;font-family:'Courier New';color:White;font-size:16px"> Master's in ML & AI, LJMU 
        </span>
        <span style="float:right;font-family:'Courier New';color:White;font-size:16px"> | In partner with UpGrad platform |
        </span>
    </p>
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
</div>

----

# Table of contents:
1. [**Case Study Overview**](#1.-Case-Study-Overview)
  + 1.1. [Introduction](#1.1-Introduction:)
  + 1.2. [Business Understanding](#1.2-Business-Understanding:)
  + 1.3. [Business Usecase](#1.3-Business-Usecase:)
  + 1.4. [Software requirements](#1.4-Software-requirements:)
  + 1.5. [Business Objectives](#1.5-Business-Objectives:)


2. [**Explore Data**](#2.-Explore-Data) 
  + 2.1. [Load Data](#1.1-Gather-data-from-web:)
  + 2.2. [Data Dictionary](#1.2-Dictionary-Exploration:)
  + 2.3. [Dataset Exploration](#1.4-Dataset-Exploration:)

---

## 1. `Case Study Overview`
=================================

  + 1.1. [Introduction](#1.1-Introduction:)
  + 1.2. [Business Understanding](#1.2-Business-Understanding:)
  + 1.3. [Business Usecase](#1.3-Business-Usecase:)
  + 1.4. [Software requirements](#1.4-Software-requirements:)
  + 1.5. [Business Objectives](#1.5-Business-Objectives:)

### <ins>[1](#1.-Case-Study-Overview).1 Introduction:</ins>

<p style='text-align: justify;'>
A US-based housing company named <b>Surprise Housing</b> has decided to enter the Australian market. The company uses data analytics to purchase houses at a price below their actual values and flip them on at a higher price.
</p>

### <ins>[1](#1.-Case-Study-Overview).2 Business Understanding:</ins>

<p style='text-align: justify;'>
The company is looking at prospective properties to buy to enter the market. The task is to build a regression model using regularisation in order to predict the actual value of the prospective properties and decide whether to invest in them or not.
</p>

### <ins>[1](#1.-Case-Study-Overview).3 Business Usecase:</ins>

The company wants to understand:
+ Which variables are significant in predicting the price of a house, and
+ How well those variables describe the price of a house.

Along with the above details, determine the optimal value of `lambda` for `ridge` and `lasso` regression.

### <ins>[1](#1.-Case-Study-Overview).4 Software requirements:</ins>

<p style="text-align:justify">
This case study uses `Python 3.10` version and is designed to be compatible with versions greater than '3.6'. It is highly recommended that you use the `Anaconda` distribution to install Python, since the distribution includes all necessary Python libraries as well as Jupyter Notebooks. The following libraries are expected to be used in this project:
</p>

+ NumPy
+ Pandas
+ Matplotlib
+ Seaborn
+ Math
+ Conda
+ Git
+ Jupyter Notebook

**NOTE:**

<p style="text-align:justify">An <mark>environment.yaml</mark> file is provided to install all the necessary libraries in the environment to replicate the same work flow.</p>

### <ins>[1](#1.-Case-Study-Overview).5 Business Objectives:</ins>

<p style='text-align: justify;'>
It is required to model the price of houses with the available independent variables. This model will then be used by the management to understand how exactly the prices vary with the variables. They can accordingly manipulate the strategy of the firm and concentrate on areas that will yield high returns. Further, the model will be a good way for management to understand the pricing dynamics of a new market.
</p'>

<div>
    <p style="text-align:center;font-family:'Courier New';font-size:14px">-------- End of section <mark>1. Case Study Overview</mark> --------
    </p>
</div>

---

## 2. `Data Exploration`
===========================

  + 2.1. [Load Libraries](#2.1-Load-Libraries:)
  + 2.2. [Load Data](#2.2-Load-Data:)
  + 2.2. [Data Dictionary](#2.2-Dictionary-Exploration:)
  + 2.3. [Dataset Exploration](#2.3-Dataset-Exploration:)

### <ins>[2](#2.-Explore-Data).1 Load Libraries:</ins>

Load relevant libraries at this section to ease the maintainance and tracking.

In [3]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import matplotlib.patches as patches
%matplotlib inline
import seaborn as sb
import traceback
import math
import datetime

# suppress warnings from final output
import warnings
warnings.simplefilter("ignore")

### <ins>[2](#2.-Explore-Data).2 Load Data:</ins>

Import data for further analysis:

In [12]:
# import data
try:
    df = pd.read_csv('train.csv', delimiter = ',')
    print('Data Load: Successful')
except Exception:
    traceback.print_exc()
    print('Data Load: Failure')

Data Load: Successful

### <ins>[2](#2.-Explore-Data).3 Understand Variables:</ins>

Check the shape of the excel file loaded as the dataframe:

In [13]:
df.shape

(1460, 81)

In [14]:
print(f'The data consists of {df.shape[0]} entries/rows and {df.shape[1]} columns.')

The data consists of 1460 entries/rows and 81 columns.

<ins> Visually inspect the data dictionary </ins>

+ Diaplay the first 5 rows in the dataset:

In [15]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

+ Display the bottom 5 rows in the dataset:

In [16]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

+ List the columns in the data.

In [18]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

### <ins>[2](#2.-Explore-Data).3 Understand Dataset:</ins>

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [21]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

Write relevant functions to explore the data set further:

In [31]:
def programmatic_assessment(df):
    '''
    Returns a dataframe with variables as null counts, duplicate counts, and descriptive statistics of each variable/column in the input dataframe.
    
    Input args:
    df = dataframe
    
    output args:
    df = dataframe tabulating statistics of each variable.
    '''
    cols = df.columns
    assess_df = pd.DataFrame()
    
    for i, col in enumerate(cols):
        assess_df.loc[i, 'variable'] = col
        assess_df.loc[i, 'datatype'] = df[col].dtype
        assess_df.loc[i, 'null_count'] = df[col].isna().sum()
        assess_df.loc[i, 'null_pcnt'] = round(((df[col].isna().sum() / df.shape[0]) * 100), 1)
        assess_df.loc[i, 'duplicate_count'] = df[col].duplicated().sum()
        assess_df.loc[i, 'count'] = df[col].describe()['count']

        # tabulate descriptive statistics for numerical variable
        if df[col].dtype in ['int64', 'float64']:
            assess_df.loc[i, 'mean'] = df[col].describe()['mean']
            assess_df.loc[i, 'std'] = df[col].describe()['std']
            assess_df.loc[i, 'min'] = df[col].describe()['min']
            assess_df.loc[i, '25%'] = df[col].describe()['25%']
            assess_df.loc[i, '50%'] = df[col].describe()['50%']
            assess_df.loc[i, '75%'] = df[col].describe()['75%']
            assess_df.loc[i, 'max'] = df[col].describe()['max']
        
        # tabulate descriptive statistics for categorical variable
        elif df[col].dtype in ['O']:
            assess_df.loc[i, 'unique'] = df[col].describe()['unique']
            assess_df.loc[i, 'top'] = df[col].describe()['top']
            assess_df.loc[i, 'freq'] = df[col].describe()['freq']
    
    return assess_df


def highlight_positives(x, color):
    '''
    highlight values greater than 0 in the input column of the dataframe.
    
    input args:
    color: color of the text to be displayed.
    '''
    return np.where(x > 0, f"color: {color};", None)


def highlight_values(x, color, threshold):
    '''
    highlight values greater than 0 in the input column of the dataframe.
    
    input args:
    color: color of the text to be displayed.
    threshold: value greater than which displayed in the specified color.
    '''
    return np.where(x > threshold, f"color: {color}; background-color: lightyellow", None)

In [32]:
assess_df = programmatic_assessment(df)

In [34]:
assess_df.sort_values(by=['null_count', 
                          'datatype'], 
                      ascending=False).style.apply(highlight_positives, 
                                                   color='red', 
                                                   axis=1, 
                                                   subset="null_pcnt")

<p style='text-align: justify;'>
Programmatic assessment of the dataframe reflects that there exists <b>Null values</b> in several variables/columns. As part of data wraangling, it is good practice to <b>drop</b> the columns with null values percentage greater than 70.
</p>

### Data Cleaning

+ remove cols with nulls more than `70%`.

In [36]:
# drop the columns with nulls more than 70%.
null_pcnt_filter = ((df.isna().sum() / df.shape[0]) * 100) > 70
cols_to_drop = df.columns[null_pcnt_filter]
df.drop(cols_to_drop, axis=1, inplace=True)

In [38]:
df.shape

(1460, 77)

Highlight the variables which has percentage of null values more than 5 in the dataset:

In [43]:
# filter variables with null_count greater than zero, sort them by descending order
assess_df = programmatic_assessment(df)
null_count_df = assess_df[['variable', 
                           'datatype',
                           'null_count', 
                           'null_pcnt']][assess_df['null_count']>0].sort_values(by=['null_count'], 
                                                                                ascending=False)

# import 'description' variable from 'info_df' dataframe
null_count_df['null_pcnt'] = null_count_df['null_pcnt'].apply(lambda x: float('{:0.2f}'.format(x)))

# highlight the null count in red color if the percentage of null_count is greater than 10% and fade otherwise in grey color
null_count_df.style.apply(lambda row: np.repeat('color: gray' 
                                                    if row['null_pcnt'] < 25 
                                                    else 
                                                'color: red; background-color: lightyellow', 
                                                row.shape[0]), 
                          axis=1)

**Observations:**

> + `FireplaceQu` <p style='text-align: justify;'> As column pertains only 53% of data, it should be dropped from the further analysis in ideal case. It is required to explore and understand its linkage with other variables before eliminating it from the analysis.</p>
>
> + `LotFrontage`<p style='text-align: justify;'> As the missing data falls under 25% threshold value, evaluate the best value to impute the data.</p>
> + <p style='text-align: justify;'> Remaining specified columns has minor number of null values which can be ignored or dealth with in the further analysis upon requirement. It is advisable to ignore null values as imputatioin might introduce bias, change the distribution of the values, and infer the stats by altering it's true statistical significance. The missing values can also be replace based on a prediction models. Since we have good amount of data and the data loss would be really low, we can also remove the entries/rows related to these missing values.</p>

Explore `FireplaceQu` variable and understand its linkage with other variables:

In [57]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

Given the above information and `data_description.txt` file, `FireplaceQu` variable is associated to `Fireplaces` variable.

In [58]:
df[['Fireplaces', 'FireplaceQu']]

      Fireplaces FireplaceQu
0              0         NaN
1              1          TA
2              1          TA
3              1          Gd
4              1          TA
...          ...         ...
1455           1          TA
1456           2          TA
1457           2          Gd
1458           0         NaN
1459           0         NaN

[1460 rows x 2 columns]

As per the `data_description.txt` file:

|variable|description|value|abbrevation|
|:-------|:----------|:----|:----------|
|Fireplaces| Number of fireplaces|||
|FireplaceQu| Fireplace quality|<ul><li>Ex<li>Gd<li>TA<li>Fa<li>Po<li>NA</ul>|<ul><li>Excellent - Exceptional Masonry Fireplace<li>Good - Masonry Fireplace in main level<li>Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement<li>Fair - Prefabricated Fireplace in basement<li>Poor - Ben Franklin Stove<li>No Fireplace</ul>

Explore the unique values and their grequency in the `FireplaceQu` variable:

In [45]:
df['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

Check the relevant values in the `Fireplaces`, for null values in the `FireplaceQu` variable:

In [60]:
# count the null values in the variable
df['FireplaceQu'].isna().sum()

690

In [51]:
mask = df['FireplaceQu'].isna()
df[['Fireplaces', 'FireplaceQu']][mask]

      Fireplaces FireplaceQu
0              0         NaN
5              0         NaN
10             0         NaN
12             0         NaN
15             0         NaN
...          ...         ...
1452           0         NaN
1453           0         NaN
1454           0         NaN
1458           0         NaN
1459           0         NaN

[690 rows x 2 columns]

The above output depicts that most of the null values in the `FireplaceQu` variable reflect to zero fireplaces. Further explore the variables to confirm the statement.

List the unique values for `Fireplaces` variable for null values in `FireplaceQu`:

In [52]:
mask = df['FireplaceQu'].isna()
df['Fireplaces'][mask].value_counts()

0    690
Name: Fireplaces, dtype: int64

This further strengthns the previous statement, that all the null values in `FireplaceQu` variable, are associated to zero `Fireplaces`. Also, as per the `data_description.txt`, there exists a categorical value of `NA` corresponding to `No Fireplace` in `FireplaceQu` variable, which is missing. Let us confirm this statement:

Display the `Fireplaces` for `NA` values in `FireplaceQu`:

In [55]:
mask = df['FireplaceQu'] == 'NA'
df['Fireplaces'][mask].value_counts()

Series([], Name: Fireplaces, dtype: int64)

Display the `FireplaceQu` for `0` values in `Fireplaces`:

In [56]:
mask = df['Fireplaces'] == '0'
df['FireplaceQu'][mask].value_counts()

Series([], Name: FireplaceQu, dtype: int64)

This concludes that the null values residing in the `FireplaceQu` variable can be **replaced** with categorical value of `NA`, as it represents the zero `Fireplaces`.

Impute the null values residing in the `FireplaceQu` variable with categorical value of `NA`:

In [61]:
# impute the null values in 'FireplaceQu' variable, with 'NA' value
mask = df['FireplaceQu'].isna()
df.loc[mask, 'FireplaceQu'] = 'NA'

In [64]:
# test case
if df['FireplaceQu'].isna().sum():
    print('WARNING: Imputation failed !')
else:
    print('Data imputation successful.')

Data imputation successful.